@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Calistoga&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    background-image: url("/Index/IMG/BC.jpeg");
    background-size: 1920px 1080px;
    background-position: center 40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000000;
    font-family: "Bree Serif", serif;
}


header {
    padding: 2rem;
    background-color: #020b83;
    text-align: center;
}

    h1 {
    color: rgb(0, 0, 0); /* Cor do texto */
    font-size: 2.8rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-shadow: 
    -2px -2px 2px #ffbd59,  
     2px -2px 2px #ffbd59,  
    -2px  2px 2px #ffbd59,  
     2px  2px 2px #ffbd59;
    }

nav {
    padding: 0.2rem;
    background-color: #000000;
    text-align: center;
}

nav a {
    color: #ffbd59;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow:
   -2px -2px 2px #000000,  
    2px -2px 2px #000000,  
   -2px  2px 2px #000000,  
    2px  2px 2px #000000;

}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display:block;
    gap: 1rem;

}

.opc1 {
    background-color: #ffbd59;
    padding: 10px;
    padding-left: 100px;
    margin-bottom: 100px;
}

.opc2 {
    display: flex;
    align-items: flex-start;                   
    gap: 30px;
    background-color: #ffbd59;
    padding: 10px;
    padding-left: 70px;
    margin-bottom: 100px;
}

.opc3 {
    background-color: #ffbd59;
    padding: 10px;
    padding-left: 100px;
    margin-bottom: 100px;
}

.titulo {
    color: #000000;
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
    align-items: center;
    text-shadow: 
    -2px -2px 2px #ffbd59,  
     2px -2px 2px #ffbd59,  
    -2px  2px 2px #ffbd59,  
     2px  2px 2px #ffbd59;
}

.subtitulo {
    text-align: start;
}

.conteudo {
    white-space: pre-line;
    font-size: 25px;
}

.texto {
    flex: 1;
}

/* Configurações de imagem */

.img-right {
    width: 200px;
    max-width: 100%;
    border-radius: 10px;
}
