@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Calistoga&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMTq-TmMCvZ8DZs0eKxWrsEyIUfsInYzT62xshG7xLf6XRR4Kr1tfVrHgm7jwjLEnsEMBAIjD0tqZxbkdMMXOU2gHjNaiYZx9La1yS4iMfFMNlfxiFfrCLTlUCHgVZEiRzjMzRRXZEVc8SJAFv6JJQDyg=w390-h844-s-no-gm?authuser=1);
    background-size: cover;
    background-position: center 40px;
    background-attachment: fixed;
    color: #000000;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 1.5rem;
    background-color: #020b83;
    text-align: center;
}

    h1 {
    color: rgb(0, 0, 0); /* Cor do texto */
    font-size: 2.2rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-shadow: 
    -2px -2px 2px #ffbd59,  
     2px -2px 2px #ffbd59,  
    -2px  2px 2px #ffbd59,  
     2px  2px 2px #ffbd59;
    }

nav {
    padding: 0.1rem;
    background-color: #000000;
    text-align: center;
}

.menu-button {
    background-color: #000000;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.1rem;
    cursor: pointer;
    display: block;
    width: 50%;
    max-width: 31rem;
    margin: 0.1rem auto;
    font-size: 18px;
    text-align: center;
    font-family: "Bree Serif", serif;
    text-shadow: 
    -1px -1px 1px #ffbd59,  
     1px -1px 1px #ffbd59,  
    -1px  1px 1px #ffbd59,  
     1px  1px 1px #ffbd59;
}

.drawer {
    display: none;
    margin-top: 0.1rem;
    text-align: center;
}

.drawer button {
    display: block;
    width: 100%;
    max-width: 31rem;
    margin: 5px auto;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Bree Serif", serif;
    text-shadow: 
    -1px -1px 1px #ffbd59,  
     1px -1px 1px #ffbd59,  
    -1px  1px 1px #ffbd59,  
     1px  1px 1px #ffbd59;
}

.menu-button.active, .drawer button.active {
    background-color: #3a288d;
}

.drawer button:hover, .menu-button:hover {
    background-color: #003660;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: rem;
}

section {
    display:flex;
    flex-direction: column;
    gap: 1rem;

}


/* Esconder no desktop */
@media (min-width: 768px) {
    .menu-button, .drawer {
        display: none !important;
    }
}

/* Esconder no mobile */
@media (max-width: 768px) {
    .navebar, .botão {
        display: none !important;
    }
}


