/* ================================
   GLOBAL.CSS
   Reset, fontes e base do site
================================ */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Calistoga&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    background-image: url(/img/BC.jpeg);
    background-size: 1920px 1080px;
    background-position: center 40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000000;
    font-family: "Bree Serif", serif;
}

/* Títulos principais */
.h1 {
    color: #000;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow:
        -2px -2px 2px #ffbd59,
         2px -2px 2px #ffbd59,
        -2px  2px 2px #ffbd59,
         2px  2px 2px #ffbd59;
}


/* Títulos principais Mobile */
.h1-mobile {
    color: #000;
    font-size: 2rem;
    align-items: center;
    font-weight: bold;
    text-align: right;
    position: relative;
    left: 25px;
    text-shadow:
        -2px -2px 2px #ffbd59,
         2px -2px 2px #ffbd59,
        -2px  2px 2px #ffbd59,
         2px  2px 2px #ffbd59;
}


h2 {
    color: #000000;
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
    text-shadow: 
    -2px -2px 2px #ffbd59,  
     2px -2px 2px #ffbd59,  
    -2px  2px 2px #ffbd59,  
     2px  2px 2px #ffbd59;
}




