@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Calistoga&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;}


    body {
        
        font-family: "Bree Serif", serif;
        font-weight: 400;
        font-style: normal;
    }

/* MAIN */
main {
    max-width: 900px;
    margin: 0 auto;
}


form {
    background-color: #002d62;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

form label {
    font-size: 1.2rem;
    color: #000000;
    display: block;
    margin-bottom: 10px;
    text-shadow: 
    -1px -1px 1px #ffbd59,  
     1px -1px 1px #ffbd59,  
    -1px  1px 1px #ffbd59,  
     1px  1px 1px #ffbd59;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffbd59;
    background-color: #161718;
    color: #ffbd59;
    font-size: 1rem;
}

form button {
    background-color:  #ffbd59;
    color: #000000;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bree Serif", serif;
}

form button:hover {
    background-color: #595e5d;
}

#avaliacoesExibidas {
    margin-top: 40px;
}

.avaliacao {
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.avaliacao h3 {
    font-size: 1.8rem;
    color: #ecf0f1;
}

.avaliacao p {
    font-size: 1.1rem;
    color: #bdc3c7;
}

.avaliacao strong {
    color: #ecf0f1;
}

/* Responsividade */
@media (max-width: 767px) {
    h1.contorno {
        font-size: 2.5rem;
    }

    nav.navbar a {
        font-size: 1rem;
        margin: 0 10px;
    }

    form input,
    form textarea {
        font-size: 0.9rem;
    }

    form button {
        font-size: 1rem;
    }
}
