@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Calistoga&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMYO4hXx1jCYi4HyNuVHN2kbbAKPOJXTThhKUsyt-nXNTjW2mYeB7geMoMdEWVNhkW9TEyOEgLacX3ATZA11T31rIFuONMBClTiUo06rnVwuKsx-tQiJozsBboYsy92Nbfo45U2js3NtdC1H0L75n2WFQ=w390-h844-s-no-gm?authuser=1);
    color: rgb(0, 0, 0);
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 1.5rem;
    background-color: #002d62;
    text-align: center;
}

    h1 {
    color: rgb(0, 0, 0); /* Cor do texto */
    font-size: 2.2rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-shadow: 
    -2px -2px 2px #ffbd59,  
     2px -2px 2px #ffbd59,  
    -2px  2px 2px #ffbd59,  
     2px  2px 2px #ffbd59;
    }

nav {
    padding: 0.1rem;
    background-color: #003660;
    text-align: center;
}

.menu-button {
    background-color: #003660;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.1rem;
    cursor: pointer;
    display: block;
    width: 50%;
    max-width: 31rem;
    margin: 0.1rem auto;
    font-size: 16px;
    text-align: center;
    font-family: "Bree Serif", serif;
    text-shadow: 
    -1px -1px 1px #ffbd59,  
     1px -1px 1px #ffbd59,  
    -1px  1px 1px #ffbd59,  
     1px  1px 1px #ffbd59;
   
}

.drawer {
    display: none;
    margin-top: 0.1rem;
    text-align: center;
}

.drawer button {
    display: block;
    width: 100%;
    max-width: 31rem;
    margin: 5px auto;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #003660;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Bree Serif", serif;
    text-shadow: 
    -1px -1px 1px #ffbd59,  
     1px -1px 1px #ffbd59,  
    -1px  1px 1px #ffbd59,  
     1px  1px 1px #ffbd59;
}

.menu-button.active, .drawer button.active {
    background-color: #3a288d;
}

.drawer button:hover, .menu-button:hover {
    background-color: #003660;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display:flex;
    flex-direction: column;
    gap: 1rem;

}

h2 {
    color: #000000;
    font-size: 1.8rem;
    padding: 0.2rem;
    text-align: center;
    text-shadow: 
    -2px -2px 2px #ffbd59,  
     2px -2px 2px #ffbd59,  
    -2px  2px 2px #ffbd59,  
     2px  2px 2px #ffbd59;
}

/* Esconder no desktop */
@media (min-width: 768px) {
    .menu-button, .drawer {
        display: none !important;
    }
}

/* Esconder no mobile */
@media (max-width: 768px) {
    .navebar, .botão {
        display: none !important;
    }
}


 /* AVALIAÇOES */
        /* AVALIAÇOES */

        main {
            max-width: 900px;
            margin: 0 auto;
        }
        
        
        form {
            background-color: #002d62;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 30px;
        }
        
        form label {
            font-size: 1.2rem;
            color: #000000;
            display: block;
            margin-bottom: 10px;
            text-shadow: 
            -1px -1px 1px #ffbd59,  
             1px -1px 1px #ffbd59,  
            -1px  1px 1px #ffbd59,  
             1px  1px 1px #ffbd59;
        }
        
        form input,
        form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ffbd59;
            background-color: #161718;
            color: #ffbd59;
            font-size: 1rem;
        }
        
        form button {
            background-color:  #ffbd59;
            color: #000000;
            font-size: 1.2rem;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-family: "Bree Serif", serif;
        }
        
        form button:hover {
            background-color: #f59505;
        }
        
        
        
        /* AVALIAÇOES JÁ FEITAS */
        /* AVALIAÇOES JÁ FEITAS */
        
        
        #avaliacoesExibidas {
            margin-top: 40px;
        }
        
        .avaliacao {
            background-color: #002d62;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        
        .avaliacao h3 {
            font-size: 1.8rem;
            color: #000000;
            text-shadow: 
            -1px -1px 1px #ffbd59,  
             1px -1px 1px #ffbd59,  
            -1px  1px 1px #ffbd59,  
             1px  1px 1px #ffbd59;
             padding: 0.2rem;
        }
        
        .avaliacao p {
            font-size: 1.1rem;
            color: #f8f8f8;
            text-shadow: 
            -1px -1px 1px #000000,  
             1px -1px 1px #000000,  
            -1px  1px 1px #000000,  
             1px  1px 1px #000000;
             padding: 0.2rem;
        }
        
        .avaliacao strong {
            color: #000000;
            text-shadow: 
            -1px -1px 1px #ffbd59,  
             1px -1px 1px #ffbd59,  
            -1px  1px 1px #ffbd59,  
             1px  1px 1px #ffbd59;
             padding: 0.2rem;
        }
        
        /* Responsividade */
        @media (max-width: 767px) {
            h1.contorno {
                font-size: 2.5rem;
            }
        
            nav.navbar a {
                font-size: 1rem;
                margin: 0 10px;
            }
        
            form input,
            form textarea {
                font-size: 0.9rem;
            }
        
            form button {
                font-size: 1rem;
            }
        }
        

        /* Contêiner para os botões alinhados ao lado */
.button-container {
    display: flex;
    justify-content: space-between; /* Alinha os botões com espaço entre eles */
    gap: 0.1rem; /* Espaçamento entre os botões */
}


#festajunina {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://fly.metroimg.com/upload/q_85,w_1200/https://uploads.metroimg.com/wp-content/uploads/2023/05/23164050/1306-–-Festa-Junina-Ideias-de-comidas-tipicas-mais-saudaveis-1200x800-1.jpg"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: #ffffff; /* Cor do texto */
    font-size: 0.7rem;
    text-align: center; /* Alinha o texto no centro */
    line-height: 380px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */
    text-shadow: 
    -1px -1px 1px #000000,  
    1px -1px 1px #000000,  
    -1px  1px 1px #000000,  
    1px  1px 1px #000000;


}


#feijoada {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://cdn.blablacar.com/wp-content/uploads/br/2024/11/11162103/feijoada.webp"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: #ffffff; /* Cor do texto */
    font-size: 0.7rem;
    text-align: center; /* Alinha o texto no centro */
    line-height: 380px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */
    text-shadow: 
    -1px -1px 1px #000000,  
    1px -1px 1px #000000,  
    -1px  1px 1px #000000,  
    1px  1px 1px #000000;

}


#comidadeboteco {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://buffetdutsabore.com.br/wp-content/uploads/2024/09/buteco-4.jpeg"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: #ffffff; /* Cor do texto */
    font-size: 0.7rem;
    text-align: center; /* Alinha o texto no centro */
    line-height: 380px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */
    text-shadow: 
    -1px -1px 1px #000000,  
    1px -1px 1px #000000,  
    -1px  1px 1px #000000,  
    1px  1px 1px #000000;

}


#coffeebreak {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://www.padariavianney.com.br/web/image/product.template/3404/image_1024?unique=347c53a"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    line-height: 50px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */

}


#rodiziodepizza {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://www.infomoney.com.br/wp-content/uploads/2019/06/pizza-2.jpg?w=900&quality=70&strip=all"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    line-height: 50px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */

}


#bolosedoces {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://img.freepik.com/fotos-gratis/bolo-lindo-e-lanches-doces_181624-27093.jpg"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    line-height: 50px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */

}


#mesadefrios {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://static.itdg.com.br/images/auto-auto/55ee5bc31561a96d813c2e35cec2050d/como-montar-uma-mesa-de-frios.jpg"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    line-height: 50px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */

}


#aniversarioinfantil {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://cdn.awsli.com.br/800x800/2570/2570969/produto/209633770/5-jlahld.jpg"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    line-height: 50px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */

}


#crepefrances {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/10/d9/62/ef/crepe-de-varios-sabores.jpg"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    line-height: 50px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */

}


#churrasco {

    display: inline-block;
    width: 100px; /* Largura do botão */
    height: 200px; /* Altura do botão */
    background-image: url("https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/04/24/istock-1394934715-rh4zeatjvo84.jpg"); /* Imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    line-height: 50px; /* Alinha verticalmente o texto */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaço entre os botões */
    margin-bottom: 10px; /* Espaço entre as linhas de botões */

}
